.pn-content .required label:after{
    content: " (*)";
    color: red;
}
.nice-select ul li{
    display: block !important;
}
.margin-bottom-10{
    margin-bottom: 10px !important;
}
li.inline .nice-select{max-width: 100%;float: none;}
div#tabList .nice-select{
    float: right;
    line-height: 25px;
    height: 25px;
    margin-top: -3px;
    margin-left: 5px;
}
li.item-child{margin-left: 15px;}
.upload-item{
    width: 95px;
    height: 95px;
    overflow: hidden;
    float: left;
    margin: 5px 15px;
    position: relative;
    background-color:transparent !important;
    background-size:  95px 95px !important;
}
.upload-item .upload-item-delete {
    position: absolute;
    background: url(../images/avatar-tool-delete.png) no-repeat;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    border: 0;
}
.working-upload-item {
    background: url(../images/icon_upload3.png) no-repeat;
    width: 95px;
    height: 95px;
    color: #fff;
    padding-left: 38px;
    line-height: 30px;
    cursor: pointer;
}
.no-padding{padding: 0!important;}
.no-margin{margin: 0 !important;}
.clearfix{clear: both !important;}
.submitbds .btn:focus{color: #fff !important;}
.details_map > .tab-pane {
    display: block !important;
    height:0 !important;;
    overflow:hidden !important;;
}

.details_map > .active {
    display: block !important;;
    height:auto !important;;
}
#showimage div{padding: 0 !important;margin: 0px;}
.main_search .tab-pane form input[type="submit"]{line-height: 2;}
.noidung h1,.noidung h2,.noidung h3,.noidung h4,.noidung h5{
    margin-top: 0px;
    margin-bottom: 0px;
}
.preview {
    border-top: 1px solid #ddd;
}
.preview .box-style3{
    border: none;
}
.preview .col-sm-10{
    width: 80%;
}
.preview label{margin-top: 0px;}
.preview .fee{
    margin-top: 10px;
}
.preview .col-sm-2{
    width: 20%;
}
.box-style3 .info h4.star_red{
    color: red !important;
}
.box-style3 .info h4.vip{
    color: red !important;
}
.box-style3 .info h4.hot{
    color: #f36523 !important;
}